@model IEnumerable<AK_HR.Models.Ak_Users>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.All)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaveApprove)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApproveId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StageClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ip_restrict)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.login_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.login_to)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.login_permit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.token)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AK_Roles.role_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.All)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaveApprove)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApproveId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StageClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ip_restrict)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.login_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.login_to)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.login_permit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.token)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AK_Roles.role_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
